
<div class="ui search"><%= search_form_for @search do |f| %>
  <div class="ui icon input">
    <%= f.text_field :speciality_cont, placeholder: "Search by Speciality...", class:"prompt"%>
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<%= f.submit nil, class: "ui green button inverted" %>
<% end %>
<span class="doctor-show-header"><h1>Doctor List</h1><h3>Number of Doctors: <%= @doctors.count %></h3></span>
<% if user_signed_in? && current_user.position == 'Doctor' || current_user.position == 'Secretary' %>
<%= link_to 'Add Doctor', new_doctor_path, class: "ui button blue inverted" %>
<%= link_to 'Sort by Speciality', doctors_path(sort_speciality: 'true'), class: "ui button blue inverted" %>
<% end %>
<% if user_signed_in? && current_user.position == 'Patient' %>
<%= link_to 'New Appointment', new_appointment_path, class: "ui button blue inverted" %>
<%= link_to 'Sort by Speciality', doctors_path(sort_speciality: 'true'), class: "ui button blue inverted" %>
<% end %>
<br />
<br />
<hr />
<%= paginate @doctors %>
<table class="ui selectable celled striped table padded">
  <thead>
    <th class="center aligned">Doctor Name</th>
    <th class="center aligned">Speciality</th>
    <th class="center aligned">Education</th>
    <th class="center aligned">Phone</th>
    <th class="center aligned">Appointments</th>
    <th class="center aligned">Show</th>
    <% if user_signed_in? && current_user.position == 'Secretary' %>
    <th class="center aligned">Edit</th>
    <th class="center aligned">Delete</th>
    <% end %>

  </thead>
  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= link_to doctor.name, doctor, class: "ui basic button" %></td>
        <td><%= doctor.speciality %></td>
        <td><%= doctor.school %></td>
        <td><%= doctor.phone %></td>
        <td><%= doctor.appointments.count %></td>
        <!--<td><%= button_to 'Remove', {:controller => :doctors, :action => 'destroy', :id => doctor.id }, :method => :delete, class:"ui button red inverted" %>
           <%= link_to 'Edit', edit_doctor_path(doctor), class:"ui button blue inverted" %>-->
          <td><%= link_to 'Show', doctor, class:"ui button blue inverted" %>    </td>
          <% if user_signed_in? && current_user.position == 'Secretary' %>
           <td><%= link_to 'Edit', edit_doctor_path(doctor), class:"ui button blue inverted" %></td>
          <td><%= button_to 'Remove', {:controller => :doctors, :action => 'destroy', :id => doctor.id }, :method => :delete, class:"ui button red inverted" %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @doctors %>
<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #fff;color:black">
  <a class="navbar-brand" href="#" style="margin:auto">Copyright © 2020 HAMS. ALL RIGHTS RESERVED. </a>
  </nav>
